<div class="modal fade" id="{{ modal_id }}" aria-labelledby="{{ aria_labelledby }}" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include modal_form %}
            </div>
        </div>
    </div>
</div>