<div class="modal fade" id="modalDetalhes{{ lote.id }}" tabindex="-1" aria-labelledby="modalDetalhesLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalhesLabel{{ lote.id }}">{{ lote.lote }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalDetalhesContent{{ lote.id }}">
                <form id="formProduto{{ lote.id }}" method="post" action="{% url 'gestao_estoque_de_produtos' loja_scope=2 %}" hx-target="#modalDetalhesContent{{ lote.id }}" hx-swap="innerHTML">
                    {% csrf_token %}
                    <strong>ID do lote:</strong> <br>{{ lote.id }}<br><br>
                    <strong>Produto:</strong> <br>{{ lote.produto.descricao }}<br><br>
                    <strong>Quantidade:</strong> <br>
                    <input type="number" name="qtd_em_estoque" value="{{ lote.qtd_em_estoque }}" min="1" required>
                    <input type="hidden" name="id" value="{{ lote.id }}">
                    <input type="hidden" name="acao" value="atualizar">
                    <br><br>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="submit" form="formProduto{{ lote.id }}" class="btn btn-primary">Atualizar</button>
                <form method="post" action="{% url 'gestao_estoque_de_produtos' loja_scope=2 %}" hx-target="#modalDetalhesContent{{ lote.id }}" hx-swap="innerHTML" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ lote.id }}">
                    <input type="hidden" name="acao" value="deletar">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</div>