<div class="mt-5">
    {% if produtos|length > 0 %}

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Código de barras</th>
                    <th scope="col">Preço de venda</th>
                    <th scope="col">À venda</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    {% include 'gestao_oferta_produtos/linhas/linha_oferta_produto.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <div class="alert alert-info" role="alert">
        Nenhum produto encontrada
    </div>

    {% endif %}
</div>