{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'styles/navbar/sidebar/sidebar.css' %}" rel="stylesheet">
{% endblock styles %}

{% block header %}
    {% if user.is_authenticated %}
        {% include 'navbar/sidebar/top_navbar_loja.html' %}
    {% endif %}
{% endblock header %}

{% block main %}
    <div class="d-flex container-fluid ps-0 overflow-hidden">
        {% if user.is_authenticated %}
            {% include 'navbar/sidebar/sidebar_loja.html' %}
        {% endif %}

        <div class="flex-fill overflow-auto">
            <article class="container p-4">
                {% block main_content %}{% endblock main_content %}
            </article>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'scripts/navbar/sidebar/localsorage_sidebar_state.js' %}"></script>
{% endblock scripts %}
