{% extends 'base_loja.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block main_content %}
    <h1>Produtos</h1>
    <p>{{ produtos|length }} de {{ produtos_count }} produtos</p>

    <section id="filtro-form">
        <form method="get" class="row row-cols-lg-auto g-3 align-items-end">
            {{ filter_form.ordem|as_crispy_field }}
            {{ filter_form.em_venda|as_crispy_field }}
            <button type="submit" class="btn btn-primary my-3">{% heroicon_solid "magnifying-glass" %}</button>
        </form>
    </section>
    
{% comment %} 
    <section id="query-form">
        <form  class="row row-cols-lg-auto g-3 align-items-end"
            hx-post="{% url 'gestao_oferta_produtos' scope.pk %}" 
            hx-trigger="keyup changed delay:1000ms" 
            hx-target="#ofertas" 
            hx-swap="innerHTML">   
            {% csrf_token %}
            {{ query_form.query|as_crispy_field }}
        </form>
    </section> 
{% endcomment %}

    <section id="ofertas">
        {% include "includes/exibe_ofertas_produtos.html" %}
    </section>
{% endblock main_content %}