{% extends 'base_loja.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block main_content %}
    <h1>Promoções {{loja_scope}} </h1>
    <p>{{ promocoes|length }} de {{ promocoes_count }} promoções</p>

    <section id="filtro-form">
        <form method="get" class="row row-cols-lg-auto g-3 align-items-end">
            {{ filter_form.ordem|as_crispy_field }}
            {{ filter_form.status|as_crispy_field }}
            <button type="submit" class="btn btn-primary my-3">{% heroicon_solid "magnifying-glass" %}</button>
        </form>
    </section> 

    <div class="">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addPromocaoModal">
            Adicionar Promocao
        </button>
    </div>

    <div class="modal fade" id="duplicarPromocaoModal" tabindex="-1" aria-labelledby="duplicarPromocaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="duplicarPromocaoModalLabel">Duplicar Promoção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form 
                        id="duplicar-promocao-form" 
                        method="post" 
                        hx-swap="afterbegin"
                        hx-post="{{ action }}"
                        hx-target="#tabela-promocoes tbody"
                        hx-on::after-request="this.reset(); $('#duplicarPromocaoModal').modal('hide');">
                        {% csrf_token %}
                        {{ duplicar_form.data_inicio|as_crispy_field }}
                        <div class="row list-unstyled d-flex justify-content-between mb-3 mx-1">
                            {% for value, label in duplicar_form.produtos.field.choices %}
                                {% include "cards/card_produto_multiple_choice_promocao.html" %}
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-block w-100 btn-primary mt-2">Duplicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPromocaoModal" tabindex="-1" aria-labelledby="addPromocaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPromocaoModalLabel">Adicionar Promocao</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form 
                        id="cadastro-promocao-form" 
                        hx-post="{{ action }}" 
                        hx-target="#tabela-promocoes tbody"
                        hx-swap="afterbegin" 
                        hx-on::after-request="this.reset(); $('#addPromocaoModal').modal('hide');" 
                        method="post">
                        {% csrf_token %}
                        {{ form.descricao|as_crispy_field }}
                        {{ form.porcentagem_desconto|as_crispy_field }}
                        {{ form.data_inicio|as_crispy_field }}
                        {{ form.numero_de_periodos|as_crispy_field }}
                        {{ form.unidades_de_tempo_por_periodo|as_crispy_field }}

                        <div class="row list-unstyled d-flex justify-content-between mb-3 mx-1">
                            {% for value, label in form.produtos.field.choices %}
                                {% include "cards/card_produto_multiple_choice_promocao.html" %}
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-block w-100 btn-primary mt-2">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section id="promocoes">
        {% include "includes/lista_promocoes.html" %}
    </section>
{% endblock main_content %}

{% block scripts %}

<script src="{% static 'js/comportamento-produtos-promocoes.js' %}"></script>

{% endblock scripts %}