{% load crispy_forms_tags %}

<div id="dados-funcionario-{{ funcionario.pk }}" class="dados-funcionario card">
    <div class="card-body">
        <div class="d-flex flex-wrap column-gap-2 align-top justify-content-between">
            <div>
                <h5 class="card-title">Funcionário: {{ funcionario.cpf }}</h5>
                <p>
                    <strong>Nome:</strong> {{ funcionario.nome }} {{ funcionario.sobrenome }}<br>
                    <strong>Email:</strong> {{ funcionario.email }}<br>
                    <strong>Telefone:</strong> {{ funcionario.telefone }}<br>
                    <strong>Data de nascimento:</strong> {{ funcionario.data_nascimento }}<br>
                </p>
            </div>
            {% url 'deactivate_funcionario' as deactivate_funcionario_action %}
            {% include 'forms/htmx_deactivate_funcionario.html' with action=deactivate_funcionario_action form=funcionario.is_active_change_form %}
        </div>

        {% url 'change_is_admin' as action_is_admin %}
        {% include 'forms/htmx_is_admin_change_form.html' with form=funcionario.is_admin_change_form action=action_is_admin %}

        {% with funcionario_pk=funcionario.pk|stringformat:"i" %}
        <div class="funcionario-papeis d-flex gap-2 flex-wrap justify-content-start mb-2">
            {% for group in funcionario.papeis_pertence %}
                {% include 'pills/pill_remover_papel.html' with form=group.form %}
            {% endfor %}
        </div>
        <div class="funcionario-add-papeis d-flex gap-2 flex-wrap justify-content-start">
            {% for group in funcionario.papeis_nao_pertence %}
                {% include 'pills/pill_adicionar_papel.html' with form=group.form %}
            {% endfor %}
        </div>
        {% endwith %}
    </div>
</div>