{% load crispy_forms_tags %}
{% load static %}

{% include "alerts/alerta_context_erro.html" %}

<tr id="linha-promocao-produto-{{ promocao_produto.id }}">
    <td><a href="{% url 'gestao_promocoes_produto' scope.pk produto.pk %}" class="text-decoration-none text-primary">{{ produto.descricao }}</a></td>
    <td>{{ produto.codigo_de_barras }}</td>
    <td>R$ {{ produto.preco_de_venda }}</td>
    <td>R$ {{ produto.desconto|floatformat:2 }} </td>
    <td>R$ {{ produto.preco_com_desconto|floatformat:2 }} </td>
    <td>{{ produto.em_venda|yesno:"Sim,Não" }}</td>
</tr>
            