{% load crispy_forms_tags %}
{% load static %}


{% include "alerts/alerta_context_erro.html" %}

<tr class="linha-promocao" id="linha-promocao-produto-{{ promocao_produto.id }}">
    {% comment %} <td>{{ promocao.descricao }}</td> {% endcomment %}
    <td><a href="{% url 'gestao_produtos_promocao' scope.pk promocao.pk %}" class="text-decoration-none text-primary">{{ promocao.descricao }}</a></td>
    <td>{{ promocao.porcentagem_desconto }}%</td>
    <td>{{ promocao.data_inicio|date:"d/m/Y" }}</td>
    <td>{{ promocao.periodo.tempo_total.days }} dias</td>
    <td>R$ {{ promocao.preco_com_desconto|floatformat:2 }}</td>
    <td>
        <button type="button" 
            class="btn btn-sm btn-primary" 
            data-bs-toggle="modal"
            data-promocao-id="{{ promocao.id }}"
            data-bs-target="#duplicarPromocaoModal">
            Duplicar
        </button>
    </td>
</tr>
            