#payment-form input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  /* width: 100%; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: .7rem;
  color: var(--bs-body-color);
}