{% extends 'base_contratacao.html' %}

{% block main_content %}
    <h1>Minha Loja</h1>
    {% include 'informacoes_loja/gestao_loja/cards/card_dados_loja.html' %}
    <div hx-trigger="load" hx-swap="outerHTML" hx-get="{% url 'deletar_loja' %}"></div>
    <h2>Admins</h2>
    {% include 'informacoes_loja/gestao_admins/cards/card_criar_admin.html' %}
    <div hx-trigger="load" hx-swap="outerHTML" hx-get="{% url 'criar_admin' %}"></div>
    <div hx-trigger="load" hx-swap="outerHTML" hx-get="{% url 'admin_list' %}" class="mt-3 d-flex justify-content-center">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
{% endblock main_content %}
