{% load crispy_forms_tags %}
{% load static %}

{% if message %}
    {% include "alerts/alerta_context_erro.html" %}
{% endif %}


<tr class="linha-promocao" id="linha-promocao-produto-{{ promocao.id }}">
    
    <td>{{ message }}<a href="{% url 'gerir_produtos_promocao' scope.pk promocao.pk %}" class="text-decoration-none text-primary">{{ promocao.descricao }}</a></td>
    <td>{{ promocao.porcentagem_desconto }}%</td>
    <td>{{ promocao.data_inicio|date:"d/m/Y" }}</td>
    <td>{{ promocao.periodo.tempo_total.days }} dias</td>
    <td> 
        <button 
            type="button" 
            class="btn btn-sm btn-primary" 
            data-bs-toggle="modal"
            data-promocao-id="{{ promocao.id }}"
            data-promocao-post="{% url 'gerir_promocoes' scope.pk promocao.pk %}/"
            data-bs-target="#duplicarPromocaoModal">
            Duplicar
        </button>
    </td>
</tr>
            