<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
        <th>Nome do Lote</th>
        <th>Nome do Produto</th>
        <th>Quantidade em Estoque</th>
        <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for lote in estoque %}
            <tr>
                <td>{{ lote.lote }}</td>
                <td>{{ lote.produto.descricao }}</td>
                <td>{{ lote.qtd_em_estoque }}</td>
                <td>
                    <button type="submit" class="btn btn-primary"
                        hx-target="#modalDetalhesContent{{ lote.id }}" 
                        data-bs-toggle="modal" 
                        data-bs-target="#modalDetalhes{{ lote.id }}">
                        Editar
                    </button>
                </td>
            </tr>
            {% include 'modal/modal_editar_lote.html' %}
        {% endfor %}
    </tbody>
</table>