{% extends 'base_loja.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block main_content %}
    <h1>Promoções {{loja_scope}} </h1>
    <p>{{ promocoes|length }} de {{ promocoes_count }} promoções</p>

    <section id="filtro-form">
        <form method="get" class="row row-cols-lg-auto g-3 align-items-end">
            {{ filter_form.ordem|as_crispy_field }}
            {{ filter_form.status|as_crispy_field }}
            <button type="submit" class="btn btn-primary my-3">{% heroicon_solid "magnifying-glass" %}</button>
        </form>
    </section> 

    <div class="">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addPromocaoModal">
            Adicionar Promocao
        </button>
    </div>

    <div class="modal fade" id="duplicarPromocaoModal" tabindex="-1" aria-labelledby="duplicarPromocaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="duplicarPromocaoModalLabel">Duplicar Promoção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  class=""
                        hx-post="{{ action }}" 
                        hx-trigger="keyup delay:250ms" 
                        hx-target="#duplicar-promocao-form #choices-produtos"
                        hx-swap="outerHTML">
                        {% csrf_token %}
                        <input type="hidden" name="{{ produto_query_form.submit_name }}" value="1">
                        {{ produto_query_form.query|as_crispy_field }}
                    </form>
                    <form
                        id="duplicar-promocao-form" 
                        {% comment %} method="post"  {% endcomment %}
                        hx-swap="afterbegin"
                        hx-post="{{ action }}"
                        hx-target="#tabela-promocoes tbody"
                        hx-on::after-request="itenAdcionadoLista(this, '#duplicarPromocaoModal', '#tabela-promocoes tbody');">
                        {% csrf_token %}
                        {{ duplicar_promocao_form.descricao|as_crispy_field }}
                        {{ duplicar_promocao_form.data_inicio|as_crispy_field }}
                        <div id="choices-produtos" class="row list-unstyled d-flex justify-content-between mb-3 mx-1">
                            {% for value, label in duplicar_promocao_form.produtos.field.choices %}
                                {% include "gestao_oferta_produtos//cards/card_produto_multiple_choice_promocao.html" %}
                            {% endfor %}
                        </div>
                        <button name="{{ duplicar_promocao_form.submit_name }}"
                            value="{{ duplicar_promocao_form.get_submit_button.value }}"
                            type="submit" 
                            class="btn btn-block w-100 btn-primary mt-2">
                                Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPromocaoModal" tabindex="-1" aria-labelledby="addPromocaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPromocaoModalLabel">Adicionar Promocao</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  class=""
                        hx-post="{{ action }}" 
                        hx-trigger="keyup delay:250ms" 
                        hx-target="#cadastro-promocao-form #choices-produtos"
                        hx-swap="outerHTML">
                        {% csrf_token %}
                        <input type="hidden" name="{{ produto_query_form.submit_name }}" value="1">
                        {{ produto_query_form.query|as_crispy_field }}
                    </form>
                    <form 
                        id="cadastro-promocao-form" 
                        hx-post="{{ action }}" 
                        hx-target="#tabela-promocoes tbody"
                        hx-swap="afterbegin" 
                        hx-on::after-request="itenAdcionadoLista(this, '#addPromocaoModal', '#tabela-promocoes tbody', '#tableEmpty');" 
                        method="post">
                        {% csrf_token %}
                        {{ promocao_form.descricao|as_crispy_field }}
                        {{ promocao_form.porcentagem_desconto|as_crispy_field }}
                        {{ promocao_form.data_inicio|as_crispy_field }}
                        {{ promocao_form.numero_de_periodos|as_crispy_field }}
                        {{ promocao_form.unidades_de_tempo_por_periodo|as_crispy_field }}

                        <div id="choices-produtos" class="row list-unstyled d-flex justify-content-between mb-3 mx-1">
                            {% for value, label in promocao_form.produtos.field.choices %}
                                {% include "gestao_oferta_produtos//cards/card_produto_multiple_choice_promocao.html" %}
                            {% endfor %}
                        </div>

                        <button name="{{ promocao_form.submit_name }}"
                            value="{{ promocao_form.get_submit_button.value }}"
                            type="submit" 
                            class="btn btn-block w-100 btn-primary mt-2">
                                Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section id="promocoes">
        {% include "gestao_oferta_produtos/listas/lista_promocoes.html" %}
    </section>
{% endblock main_content %}

{% block scripts %}

<script src="{% static 'scripts/comportamento_produtos_promocoes.js' %}"></script>

{% endblock scripts %}