{% extends 'base_contratacao.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block main_content %}

    <h1>Métodos de pagamento</h1>
    <p>{{ cartoes_count }} {% if cartoes_count == 1 %}cartão cadastrado.{% else %}cartões cadastrados.{% endif %}</p>

    {% if cartoes_count == 0 %}
        <div id="aviso-sem-cartoes">
            <div class="alert alert-info mt-4" role="alert">
                Nenhum cartão cadastrado.
            </div>
            <button type="button" class="btn btn-primary mb-3 mt-2" data-bs-toggle="modal" data-bs-target="#addCartaoModal">
                Adicionar Cartão
            </button>
        
        </div>
    {% endif %}
    <div id="conteudo" class="{% if cartoes_count == 0 %} d-none {% endif %}">
        {% include 'metodos_pagamento/metodos_pagamento_conteudo.html' %}
    </div>

    <div class="modal fade" id="addCartaoModal" tabindex="-1" aria-labelledby="addCartaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCartaoModalLabel">Adicionar Cartão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="payment-form" data-public-key="{{ public_key }}" method="post">
                        {% csrf_token %}
                        <div id="card-element" class="form-group mb-3"><!-- Stripe Element --></div>
                        <div class="row g-3 align-items-end">
                            <div class="col-auto">
                                {{ cadastrar_cartao_form.cep|as_crispy_field }}
                            </div>
                            <div class="col-auto">
                                {{ cadastrar_cartao_form.numero_residencial|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ cadastrar_cartao_form.complemento|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row g-3 align-items-end">
                            <div class="col">
                                {{ cadastrar_cartao_form.nome_titular|as_crispy_field }}
                            </div>
                            <div class="col-auto">
                            </div>
                        </div>
                        <button name="{{ cadastrar_cartao_form.submit_name }}"
                            value="{{ cadastrar_cartao_form.get_submit_button.value }}"
                            id="cadastro-cartao-btn"  
                            type="button"
                            class="btn btn-block w-100 btn-primary mb-3">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}

{% block styles %}
    <link href="{% static 'styles/payment-method-form-style.css' %}" rel="stylesheet" >
    <link href="{% static 'styles/payment-method-style.css' %}" rel="stylesheet" >
{% endblock styles %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'scripts/cadastrar_cartao.js' %}"></script>
{% endblock scripts %}
