{% extends 'gestao_funcionarios/includes/extends/basic_data_funcionario.html' %}

{% block funcionario_title %}
    Vendedor: {{ funcionario.cpf }}
{% endblock funcionario_title %}

{% block funcionario_extra_data %}
    <br>
    <strong>Quantidade de Vendas nos últimos {{ numero_de_tempos }} {{ unidade_de_tempo }}:</strong> {{ funcionario.qtd_vendas }}<br>
    <strong>Valor Vendido nos últimos {{ numero_de_tempos }} {{ unidade_de_tempo }}:</strong> {{ funcionario.valor_vendido }}<br>
    <strong>Comissão nos últimos {{ numero_de_tempos }} {{ unidade_de_tempo }}:</strong> {{ funcionario.comissao_ganha }}<br>
    
    {% if funcionario == user %}
        <small class="d-block text-body-secondary">Esse vendedor é você</small>
    {% endif %}
    {% if funcionario.is_admin %}
        <small class="d-block text-body-secondary">Esse vendedor é um administrador</small>
    {% endif %}
    {% if not funcionario.is_active %}
        <small class="d-block text-body-secondary">Esse vendedor está inativo</small>
    {% endif %}
{% endblock funcionario_extra_data %}
