{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'navbar/top_navbar_contratacao.html' %}
{% endblock header %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4">Meus Contratos</h1>

        <!-- Verifica se há um contrato para cancelar -->
        {% if contrato %}
            <section id="cancelar-contrato-section" class="card p-4 mb-4">
                <h2 class="mb-3">Contrato</h2>
                <p><strong>Contrato assinado:</strong> {{ contrato.contrato.descricao }}</p>
                <p><strong>Data de contratação:</strong> {{ contrato.data_contratacao }}</p>
                <p><strong>Valor por período:</strong> R$ {{ valores.valor_por_periodo }}</p>
                <p><strong>Telas simultâneas:</strong> {{ valores.telas_simultaneas }}</p>
                <p><strong>Taxa de multa:</strong> {{ valores.taxa_de_multa }}%</p>
                <p><strong>Tempo máximo de atraso:</strong> {{ valores.tempo_maximo_de_atraso_em_dias }} dias</p>
                <p><strong>Valor total:</strong> R$ {{ valores.valor_total }}</p>
                <p><strong>Período:</strong> {{ valores.periodo }} dias</p>
                <button class="btn btn-danger"
                    hx-get="{% url 'cancelar_contrato' %}"
                    hx-target="#cancelar-contrato"
                    hx-swap="innerHTML">
                    Cancelar contrato
                </button>
            </section>
        {% else %}
            <section class="card p-4 mb-4">
                <h2 class="mb-3">Nenhum contrato assinado</h2>
                <p>Você ainda não possui um contrato assinado. Clique no botão abaixo para ver os contratos disponíveis:</p>
                <a href="{% url 'contratos_disponiveis' %}" class="btn btn-primary">Ver Contratos Disponíveis</a>
            </section>
        {% endif %}

        <section id="cancelar-contrato" class="mt-4"></section>

        <!-- Exibindo a mensagem de erro caso haja -->
        {% if mensagem_erro %}
            <div class="alert alert-danger mt-4">
                <p>{{ mensagem_erro }}</p>
            </div>
        {% endif %}
    </div>
{% endblock main %}