<div
    class="modal fade show "
    id="modalResultadoVenda"
    tabindex="-1"
    role="dialog"
    aria-labelledby="successVendaModalLabel"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-sm "
        role="document"
    >
        <div class="modal-content text-white bg-success">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    onclick="$('#quantidadeLotesModal').remove()"
                ></button>
            </div>
            <div class="modal-body">
                <h4>
                    Venda efetuada com sucesso!
                </h4>
            </div>
        </div>
    </div>
</div>