<tr id="item-{{ item.produto.id }}">
    <td data-codigo-de-barras="{{ item.produto.codigo_de_barras }}" >{{ item.produto.codigo_de_barras }}</td>
    <td data-item-descricao="{{ item.produto.descricao }}" >{{ item.produto.descricao }}</td>
    <td data-item-quantidade="{{ item.quantidade }}" >{{ item.quantidade }}</td>
    <td data-item-preco-de-venda="{{ item.produto.preco_de_venda }}" >{{ item.produto.preco_de_venda }}</td>
    <td data-item-desconto="{{ item.produto.desconto }}" >{{ item.produto.desconto }}</td>
    <td data-item-desconto="{{ item.preco_vendido }}" >{{ item.preco_vendido }}</td>
</tr>