<div
    class="modal fade show bg-success text-white"
    id="modal-pagamento"
    tabindex="-1"
    role="dialog"
    aria-labelledby="successVendaModalLabel"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <h3>
                    Compra efetuada com sucesso!
                </h3>
            </div>
        </div>
    </div>
</div>